{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}
<div id="sidebar-menu" class="sidebar-primary sidebar--drawer sidebar--mobile-friendly">
  <div class="sidebar-menu-button-container">
    <span class="sidebar-menu-button material-symbols-outlined icon--x-large">close</span>
  </div>
  <a class="sidebar__brand" href="/">
    <img src="/assets/images/logo.svg">
  </a>

  <div class="sidebar__content sidebar__content--start">
    <div class="sidebar__section-title">Introduction</div>
    <a class="sidebar__item {% if page.url == '/' %}active{% else %}{% endif %}" href="/">
      <span class="material-symbols-outlined sidebar__item-icon" title="home">home</span>
      <div class="sidebar__item-label">Home</div>
    </a>
    {%- for node in site.static_pages -%}
    {%- if node.title -%}
    <a class="sidebar__item {% if page.url == node.url %}active{% else %}{% endif %}"
      href="{{ node.url | relative_url }}">
      <span class="material-symbols-outlined sidebar__item-icon" title="{{ node.icon | escape }}">{{ node.icon |
        escape }}</span>
      <div class="sidebar__item-label">{{ node.title | escape }}</div>
    </a>
    {%- endif -%}
    {%- endfor -%}

    {%- assign current_url = page.url | split: '/' -%}
    <a class="sidebar__item {% if current_url[1] == 'all-posts' %}active{% else %}{% endif %}" href="/all-posts">
      <span class="material-symbols-outlined sidebar__item-icon" title="feed">feed</span>
      <div class="sidebar__item-label">All Posts</div>
    </a>

    <div class="sidebar__section-title">Topics</div>
    {% assign topics = site.pages | where: 'topic', true %}
    {%- for topic in topics -%}
    {%- if topic.title -%}
    {%- assign current_url = page.url | split: '/' -%}
    {%- assign topic_url = topic.url | split: '/' -%}
    <a class="sidebar__item {% if current_url[1] == topic_url[1] %}active{% else %}{% endif %}"
      href="{{ topic.url | relative_url }}">
      <span class="material-symbols-outlined sidebar__item-icon" title="{{ topic.icon | escape }}">{{ topic.icon |
        escape }}</span>
      <div class="sidebar__item-label">{{ topic.title | escape }}</div>
    </a>
    {%- endif -%}
    {%- endfor -%}
  </div>
</div>
