---
layout: default
---

<div class="post-body">
  <article class="card margin-y-md full-width" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="card__header">
      <h1 class='post-title' itemprop="name headline">{{ page.title | escape }}</h1>
      <div class="post-meta">
        {%- if page.date -%}
        <time class="post-meta__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- endif -%}
        {%- if page.author -%}
        <p class="post-meta__data">Author: {{ page.author }}</p>
        {%- endif -%}
        {%- if page.approver -%}
        <p class="post-meta__data">Approver: {{ page.approver }}</p>
        {%- endif -%}
      </div>
    </header>

    <div class="card__body" itemprop="articleBody">
      {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>

  <div class="table-of-contents">
    <p class="table-of-contents__title">Table of Contents</p>
    {% toc %}
  </div>
</div>
